<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">

        <% for (let i=0; i < newListItems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <%}%>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button name="list" type="submit" value=<%=listTitle %>>+</button>
                </form>
    </div>
    <!-- <ul> -->
    <!-- <li>Buy Food</li>
            <li>Cook Food</li>
            <li>Eat Food</li> -->
    <!-- <% for (var i=0; i < newListItems.length; i++){ %> -->

    <!-- <li> -->
    <!-- <%= newListItems[i] %> -->
    <!-- </li> -->
    <!-- <%}%> -->
    <!-- </ul> -->
    </div>

    <%- include("footer") -%>